# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  host:
    description: The hostname or IP address of the outgoing SMTP relay
    type: string
  port: 
    description: The port of the outgoing SMTP relay
    type: int
    default: 25
  user:
    description: The SMTP AUTH user to use for the outgoing SMTP relay
    type: string
  password:
    description: The SMTP AUTH password to use for the outgoing SMTP relay If `password_secret` is also set, that value takes precedence.
    type: string
  password_secret:
    description: The Juju secret ID containing the SMTP AUTH password. If `password` is also set, this value takes precedence.
    type: secret
  auth_type:
    description: The type used to authenticate with the SMTP relay. It has to be one of "none", "not_provided" or "plain"
    type: string
    default: "none"
  transport_security:
    description: The security protocol to use for the outgoing SMTP relay. It has to be one of "none", "starttls" or "tls"
    type: string
    default: "none"
  domain:
    description: The domain used by the sent emails from SMTP relay
    type: string
  skip_ssl_verify:
    description: Specifies if certificate trust verification is skipped in the SMTP relay
    type: boolean
    default: false
  smtp_sender:
    description: Optional sender email address for outgoing notifications (e.g. "no-reply@example.com").
    type: string
  recipients:
    description:  Optional comma-separated list of recipient email addresses (e.g. "a@x.com,b@y.com").
    type: string
