name: Integration tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  integration-tests:
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      channel: 1.28-strict/stable
      juju-channel: 3.1/stable
  integration-tests-juju2:
    name: Integration test with juju 2.9
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.28/stable
      juju-channel: 2.9/stable
      test-tox-env: integration-juju-2
  allure-report:
    if: ${{ (success() || failure()) && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    - integration-tests-juju2
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
